<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Poor Man's Twitter {% endblock %}</title>
    {% load static %}

    <!-- External libraries loaded from CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

    <style>
        body {
            padding-left: 3%;
        }
    </style>

    <script type="text/javascript">
    </script>
</head>
<body>

    {% block content %}

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="{% static "microblogging/js/main.js" %}"></script>
</body>
</html>
